<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boston Housing Price Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h2> Housing Price Prediction</h2>
        <form action="/predict" method="post">
            <label>CRIM:</label>
            <input type="text" name="CRIM">

            <label>ZN:</label>
            <input type="text" name="ZN">

            <label>INDUS:</label>
            <input type="text" name="INDUS">

            <label>CHAS:</label>
            <input type="text" name="CHAS">

            <label>NOX:</label>
            <input type="text" name="NOX">

            <label>RM:</label>
            <input type="text" name="RM">

            <label>AGE:</label>
            <input type="text" name="AGE">

            <label>DIS:</label>
            <input type="text" name="DIS">

            <label>RAD:</label>
            <input type="text" name="RAD">

            <label>TAX:</label>
            <input type="text" name="TAX">

            <label>PTRATIO:</label>
            <input type="text" name="PTRATIO">

            <label>B:</label>
            <input type="text" name="B">

            <label>LSTAT:</label>
            <input type="text" name="LSTAT">

            <input type="submit" value="Predict">
        </form>

        {% if prediction_text %}
            <h3>{{ prediction_text }}</h3>
        {% endif %}
    </div>
</body>
</html>
